.ellipse {
    border-radius: 50%;
    background-color: #000000;
    width: 15px;
    height: 15px;
}

.op {
    filter: grayscale(100%);
}

.op:hover {
    filter: none;
    transition: 1s;
    transform: scale(1.02);
}

.title {
    position: absolute;
    width: 795px;
    height: 74px;
    left: 128px;
    top: 168px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 74px;

    color: #000000;
}

.crown {
    position: absolute;
    width: 30px;
    height: 19px;
    left: 128px;
    top: 264px;
}

.sub {
    position: absolute;
    width: 423px;
    height: 41px;
    left: 164px;
    top: 253px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;

    color: #000000;
}

.bold {
    font-weight: bold;
}

.main {
    position: absolute;
    left: 225px;
    top: 378.73px;
}

.point {
    position: absolute;
    width: 1424px;
    height: 527px;
    left: 180px;
    top: 1081px;

    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 300px;
    line-height: 527px;

    color: #FFFFFF;
}

.view {
    position: absolute;
    width: 75px;
    height: 70px;
    left: 90%;
    top: 861px;
    position: fixed;
    z-index: 99999;
}

.day {
    position: absolute;
    width: 240px;
    height: 58px;
    left: 1552px;
    top: 168px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #9C9C9C;
}

.num01 {
    position: absolute;
    width: 320px;
    height: 527px;
    left: 0px;
    top: 1815px;

    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 300px;
    line-height: 527px;

    color: #000000;
}

.e01 {
    position: absolute;
    left: 474px;
    top: 2151px;
}

.title_01 {
    position: absolute;
    width: 420px;
    height: 72px;
    left: 490px;
    top: 2159px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: #000000;
}

.p_01 {
    position: absolute;
    width: 1031px;
    height: 480px;
    left: 481px;
    top: 2273px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}

.e02 {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 481px;
    top: 2864px;
}

.rldu {
    position: absolute;
    width: 831px;
    height: 60px;
    left: 494px;
    top: 2872px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;

    color: #000000;
}

.design {
    position: absolute;
    width: 94px;
    height: 43px;
    left: 606px;
    top: 2953px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #000000;
}

.plan {
    position: absolute;
    width: 63px;
    height: 43px;
    left: 622px;
    top: 3035px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #000000;
}

.program {
    position: absolute;
    width: 156px;
    height: 43px;
    left: 575px;
    top: 3117px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}

.sub_g01 {
    position: absolute;
    width: 580px;
    height: 209px;
    left: 774px;
    top: 2960px;

}

.num02 {
    position: absolute;
    width: 320px;
    height: 527px;
    left: 0px;
    top: 2905px;

    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 300px;
    line-height: 527px;

    color: #000000;
}

.sub1_1 {
    position: absolute;
    width: 468.74px;
    height: 468.74px;
    left: 0px;
    top: 3242px;

}

.sub1_2 {
    position: absolute;
    width: 468.74px;
    height: 468.74px;
    left: 483.76px;
    top: 3242px;

}

.sub1_3 {
    position: absolute;
    width: 468.74px;
    height: 468.74px;
    left: 967.5px;
    top: 3242px;
}

.sub1_4 {
    position: absolute;
    width: 468.74px;
    height: 468.74px;
    left: 1451.26px;
    top: 3242px;

}

.e03 {
    position: absolute;
    left: 488px;
    top: 3885px;
}

.p_02 {
    position: absolute;
    width: 1009px;
    height: 336px;
    left: 503px;
    top: 3900px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;

    color: #000000;

}

.num03 {
    position: absolute;
    width: 320px;
    height: 527px;
    left: 0px;
    top: 3972px;

    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 300px;
    line-height: 527px;
}

.sub1_5 {
    position: absolute;
    width: 630.05px;
    height: 379.87px;
    left: -0.05px;
    top: 4320px;

}

.sub1_6 {
    position: absolute;
    width: 632.45px;
    height: 356px;
    left: 644px;
    top: 4322px;

}

.sub1_7 {
    position: absolute;
    width: 630px;
    height: 354.32px;
    left: 1292px;
    top: 4324px;
}

.box {
    position: absolute;
    width: 100%;
    height: 1500px;
    top: 4704px;
    background: #000000;
}

.h4_01 {
    position: absolute;
    width: 506px;
    height: 36px;
    left: 60px;
    top: 4762px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;

}

.h4_02 {
    position: absolute;
    width: 506px;
    height: 36px;
    left: 707px;
    top: 4755px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.h4_03 {
    position: absolute;
    width: 506px;
    height: 36px;
    left: 1354px;
    top: 4755px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.ph4_01 {
    position: absolute;
    width: 515px;
    height: 180px;
    left: 60px;
    top: 4853px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;

}

.ph4_02 {
    position: absolute;
    width: 506px;
    height: 180px;
    left: 707px;
    top: 4846px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;

}

.ph4_03 {
    position: absolute;
    width: 506px;
    height: 216px;
    left: 1354px;
    top: 4846px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.line01 {
    position: absolute;
    height: 350px;
    left: 640px;
    top: 4747px;

    border: 1px solid #FFFFFF;
}

.line02 {
    position: absolute;
    height: 350px;
    left: 1286px;
    top: 4747px;
    border: 0.3px solid #FFFFFF;
}

.next {
    position: absolute;
    width: 1884.18px;
    height: 1055px;
    left: 3px;
    top: 4900px;
}

.prev {
    position: absolute;
    width: 1830.13px;
    height: 800px;
    left: 50px;
    top: 5400px;
}